@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', 'sans-serif';
}
body {
    width:100%;
    height:100%;
    margin:0;
    background-color: #F0EEEE;
}
#header {
    min-height: 50px;
    min-width: 100%;
    border: 1px solid #000;
    margin: 0;
    color: white;
    background-color: #545151;
    
}
#input--container {
    /* border: 1px solid #000; */
    width: 100%;
    margin: 0 auto;
}
#journalentry {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    /* border: 1px solid #000; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#card--container {
    margin: 0 auto;
    margin-top: 15px;
    /* border: 1px solid #000; */
    display: grid;
    gap: 1rem;
    min-height: 100%;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: 1fr 1fr 1fr;  */
    align-items: center;
    justify-items: center;
}
.card {
    border: 1px solid #000;
    background-color: #F7F7F7;
    height: 350px;
    width: 350px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 5px 5px grey;  
}
#header > a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}
#textentry {
    width: 500px;
    height: 100px;
    margin-right: 10px;
    resize: none;
    border-radius: 5px;
    box-shadow: 5px 5px;
}
#thread {
    border: 1px solid #000;
    text-align: center;
}
#comment-box {
    position: relative;
    height: 1000px;
    border: 1px solid #000;
}
.commentOnPage {
    margin: 10px auto;
    border: 1px solid #000;
    min-height: 10px;
    width: 90%;
    padding: 10px;
}
#commententry {
    width: 600px;
    height: 100px;
    vertical-align: top;
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
    resize: none;
}
#commentOnPost {
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#footer {
    /* border: 1px solid #000; */
    color: white;
    
    bottom: 0;
    background-color: #545151;
    min-height: 35px;
    min-width: 100%;
    margin: 10px 0px 0px 0px;
    

}
#footer > h2 {
    margin-left: 20px;
}
#submitButton {
    /* position: relative; */
    max-height: 50px;
    margin-top: 28px;
    margin-left: 10px;
}
#thread {
    min-height: 500px;
}
#gifButton {
    /* position: relative; */
    max-height: 50px;
    margin-top: 28px;
}
.entryContent {
    text-decoration: none;
    color: black;
}
#gifPopup {
    /* display: none; */
    position: absolute;
    z-index: 999;
    height: 1000px;
    width: 1000px;
    border: 1px solid #000;
    margin-left: 500px;

}
#footer > h2 {
    margin-left: 20px;
}
#submitButton {
    /* position: relative; */
    max-height: 50px;
    margin-top: 28px;
    margin-right: 10px;
}
#thread {
    min-height: 500px;
}
.entryContent {
    text-decoration: none;
    color: black;
}
/* #gifPopup {
    display: none;
    position: absolute;
    z-index: 999;
    height: 1000px;
    width: 1000px;
    border: 1px solid #000;
    margin-left: 500px;
} */
#chosenGifUrl{
    display:none;
}
#gif {
    width: 20px;
    height:20px;
}
#gifPopup {
    display: none;
    /* display: grid; */
    position: absolute;
    z-index: 999;
    background-color: white;
    margin: 0 auto;
    margin-left: 5%;
    border: 1px solid #000;
    display: grid;
    gap: 1rem;
    min-height: 90%;
    width: 90%;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(3, 1fr);  */
    align-items: center;
    justify-items: center;
}
#gifInput {
    height: 50px;
    margin-top: 28px;
    margin-right: 10px
}
#userGif {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #000;
    min-height: 100px;
    min-width: 100px;
    border-radius: 5px;
}

p {
    border-top: 5px solid red;
}
div {
    border-top: 5px solid red;
}
.gif {
    /* border: 1px solid #000;
    min-width: 100px;
    min-height: 100px;
    z-index: 999;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center; */
    border: 1px solid #000;
    background-color: #F7F7F7;
    min-height: 90%;
    min-width: 90%;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
}