@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    font-family: 'Lato', 'sans-serif';
}
html {
    background: url('linegeo3-04-17-01.jpg');
    background-size: cover;
}
body {
    width:100%;
    height:100%;
    margin:0;
    
}
#header {
    display: flex;
    min-height: 85px;
    min-width: 100%;
    border: 1px solid #000;
    margin: 0;
    color: white;
    background-color: #545151;
}
#title {
    margin-left: 40vw;
    /* display: inline-block; */
}
#input--container {
    /* border: 1px solid #000; */
    width: 100%;
    margin: 0 auto;
}
#journalentry {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    /* border: 1px solid #000; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#card--container {
    margin: 0 auto;
    margin-top: 15px;
    /* border: 1px solid #000; */
    display: grid;
    gap: 1rem;
    min-height: 100%;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: 1fr 1fr 1fr;  */
    align-items: center;
    justify-items: center;
}
.card {
    border: 1px solid #000;
    background-color: #F7F7F7;
    height: 350px;
    width: 350px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;  
}
#header  a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-left: 20%;
    margin-top: 25%;
    font-size: 30px;
    /* margin-bottom: 10px; */
}
#textentry {
    width: 500px;
    height: 100px;
    margin-right: 10px;
    resize: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
}

#charcount {
    height: auto;
    /* display: table-cell; */
    vertical-align: text-bottom;
    margin-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    
}
textarea {
    font-family: 'Lato', 'sans-serif';
}
#thread {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 3px solid #000;
    text-align: center;
    min-height: 60%;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    background-color: white;
}
#threadGif {
    max-height: 200px;
    max-width: 100px;
    align-self: center;
    margin-bottom: 10px;
}
#threadBody {
    /* max-height: 100px; */
}
#gif--container {
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin: 10px;
}
#comment-box {
    position: relative;
    height: 1000px;
    border: 3px solid #000;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}
.commentOnPage {
    margin: 10px auto;
    border: 1px solid #000;
    min-height: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
}
#commententry {
    width: 600px;
    height: 100px;
    vertical-align: top;
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
    resize: none;
}
#commentOnPost {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#commentbutton {
    max-height: 50px;
    margin-top: 28px;
    margin-right: 10px;
}
.wrapper {
    min-height: 100%;
    
}
footer {
    /* border: 1px solid #000; */
    color: white;
    bottom: 0;
    background-color: #545151;
    min-height: 35px;
    min-width: 100%;
    margin: 10px 0px 0px 0px;
}
    
footer > h2 {
    margin-left: 20px;
}
#submitButton {
    /* position: relative; */
    max-height: 50px;
    margin-top: 28px;
    margin-left: 10px;
}
#gifButton {
    /* position: relative; */
    max-height: 50px;
    margin-top: 28px;
}
.entryContent {
    text-decoration: none;
    color: black;
}
#footer > h2 {
    margin-left: 20px;
}
#submitButton {
    /* position: relative; */
    max-height: 50px;
    margin-top: 28px;
    margin-right: 10px;
}
.entryContent {
    text-decoration: none;
    color: black;
}
#chosenGifUrl{
    display:none;
}
#gif {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#gifPopup {
    visibility: hidden;
    position: absolute;
    z-index: 999;
    background-color: white;
    margin: 0 auto;
    margin-left: 5%;
    border: 1px solid #000;
    display: grid;
    gap: 0.5rem;
    min-height: 90%;
    width: 90%;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}
#gifInput {
    height: 50px;
    margin-top: 28px;
    margin-right: 10px
}
#userGif {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #000;
    min-height: 100px;
    min-width: 100px;
    border-radius: 5px;
    background-color: white;
}
p {
    border-top: 5px solid red;
}
div {
    /* border-top: 5px solid red; */
}
.gif {
    /* border: 1px solid #000;
    min-width: 100px;
    min-height: 100px;
    z-index: 999;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center; */
    background-color: #F7F7F7;
    min-height: 0%;
    min-width: 0%;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
}
.gifImg {
}
.bottomBar {
    /* display: none; */
    min-height: 20%;
    width: 100%;
    margin-top: 72%;
    /* border: 1px solid #000; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: red;
    color: #FFF;
}
/* .bottomBar:hover {
    min-height: 20%;
    width: 100%;
    margin-top: 71%;
    border: 1px solid #000;
    border-radius: 10px;
} */
.card .bottomBar {
    visibility: hidden;
}
.card:hover .bottomBar {
    visibility: visible;
}
.card:hover {
    animation: shake-animation 4.72s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes shake-animation {
     0% { transform:translate(0,0) }
    1.78571% { transform:translate(5px,0) }
    3.57143% { transform:translate(0,0) }
    5.35714% { transform:translate(5px,0) }
    7.14286% { transform:translate(0,0) }
    8.92857% { transform:translate(5px,0) }
    10.71429% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
}